
<!doctype html>
<html>
<head>
  <title>
    David's History Website
  </title>
  <link rel="stylesheet" type="text/class" href="css/style.css">
</head>


<body>

<h1> <a href="/">David's History Website</a> </h1>

<h3>Today is the <i><u> <%=Time.now.strftime("%d")%> of <%=Time.now.strftime("%B")%> </u></i> </h3>

<div id=churchill>
<img src="http://static.bbc.co.uk/history/img/ic/640/images/resources/events/churchill_decides_to_fight_on.jpg"/>
</div>

<br>
<br>

<%= @history.random_event %>

</body>
